body
{
    background-color: #215d68;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.container
{
    background-color: #276d74;
    align-self: center;
    width:1000px;
    height:500px;
    display: flex;
    flex-direction: column;
    gap:1em;
    justify-content: center;

}

div
{
    font-size:42px;
}

.title
{
    font-size:54px;
    margin:8px;
    font-weight: bolder;
    color: white;
}

.play
{
    align-self: center;
    background-color: #356b75;
    font-size:42px;
    padding:16px 32px;
    border-radius: 25px;
    border: 4px solid #02363f ;
    cursor: grab;
}


.button-container
{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2em;
}

img
{
    margin-top: 8px;
}
.img
{
    cursor:grab;
    border: 8px solid #02363f;
}

.choices-container
{
    display: flex;
    gap: 2em;
    justify-content: space-around;
}

.choices-container
{
    font-size: 32px;
}

