body
{
    background-color: #5a989e;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.container
{
    background-color: #356b75; 
    align-self: center;
    width:1000px;
    height:500px;
    display: flex;
    flex-direction: column;
}

#play
{
    
}

.button-container
{
    display:flex;
    align-items: center;
    gap:1em;
}

.button
{
    cursor:grab;
}

